In [1]:
import pandas as pd
%matplotlib inline

In [3]:
metrics = ['f1', 'recall', 'cost', 'precision', 'time', 'accuracy']
paths = {
    'size-scalability': '../results/size-scalability',
    'epoch-scalability': '../results/epoch-scalability'
}

prefix = 'time'
experiments = {k:{} for k in paths}

In [40]:
def process_time(file):
    with open(file) as time_file:
        lines = time_file.readlines()
        lines = [line.strip() for line in lines if len(line) > 2]
        times = {
            'sys':[line for line in lines if 'sys' in line],
            'user' : [line for line in lines if 'user' in line],
            'real': [line for line in lines if 'real' in line]
        }
        
        for key in times:
            values = times[key]
            values = [v.split('\t')[1] for v in values]
            values = [float(v.split('m')[0])*60 + float(v.split('m')[1][:-1].replace(',', '.')) for v in values]
            times[key] = values
        return times
#process_time("/home/dcandrade/Documents/Subjects/Computação de Alto Desempenho/hpc-facial-expression-recognition/results/size-scalability/500/time500.txt")

In [41]:
from os import walk
for experiment_type in paths:
    for (dirpath, dirnames, filenames) in walk(paths[experiment_type]):
        for file in filenames:
            if file.startswith(prefix):
                subtype = dirpath.split('/')[-1]
                experiment_file = paths[experiment_type]+'/'+subtype+'/'+file
                subtype_files = experiments[experiment_type].get(subtype,[])
                #subtype_files.append(pd.read_csv(experiment_file, header=0))
                experiments[experiment_type][subtype] = process_time(experiment_file)

In [46]:
size_df = pd.DataFrame(experiments['size-scalability'])
epochs_df = pd.DataFrame(experiments['epoch-scalability'])

In [47]:
size_df

,500,2k,4k,8k,1k
real,"[4.994, 5.278, 5.15, 5.179, 5.66]","[10.171, 8.974, 9.208, 9.037, 9.218]","[14.847, 14.893, 14.742, 15.428, 15.051]","[26.605, 26.384, 25.476, 25.718, 25.88]","[6.493, 6.613, 7.142, 6.66, 6.861]"
sys,"[0.087, 0.076, 0.08, 0.053, 0.076]","[0.083, 0.063, 0.08, 0.07, 0.096]","[0.083, 0.08, 0.107, 0.093, 0.083]","[0.126, 0.1, 0.086, 0.1, 0.09]","[0.06, 0.093, 0.1, 0.084, 0.096]"
user,"[4.901, 5.172, 5.062, 5.118, 5.569]","[10.071, 8.893, 9.105, 8.951, 9.098]","[14.707, 14.781, 14.606, 15.297, 14.93]","[26.4, 26.195, 25.325, 25.552, 25.721]","[6.424, 6.506, 7.025, 6.566, 6.747]"

In [ ]:
si